<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" type="icon">
      <ion-back-button defaultHref="/recipes" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteRecipe(recipe.id)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="recipe.imageURL"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{recipe.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients"
            >{{ingredient}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
